/*This is common css for all four html file*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;

}
h1,h2,h3,h4,h5,h6{
	padding: 1%;
	color: #99979A;
}
p{
	font-size: 1.5625em;
	font-weight: bold;
	color: #555;
}
body{
	width: 100%;
}
.top_bar{ 
	/*  This is for header part*/
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	background: #1A3441;
}
.logo{
	/*This is just to look web page more attractive made by myself using photoshop cs6*/
	width: 50%;
	padding: 0;
}
.logo>img{
	width: 9.375em;
	padding-left: 15%;
	height: 100%;
	/*This is to animate my designed logo*/
	animation: sunil 3s linear infinite alternate;
}
@keyframes sunil{
	0%{
		transform: translateX(20%) rotateX(0deg);
	}
	25%{
		transform: translateX(40%) rotateX(90deg);
	}
	50%{
		transform: translateX(60%) rotateX(180deg);
	}
	75%{
		transform: translateX(80%) rotateX(270deg);
	}
	100%{
		transform: translateX(100%) rotateX(360deg);
	}
}
header{
	height: 9.375em;
}
/*Now designing looks for navigations to look attractive and user-friendly*/
.navigation{
	width: 47%;
}
.navigation ul{
	display: flex;
	flex-direction: row-reverse;
}
.navigation ul li{
	list-style: none;
	height:9.275em;
}
.navigation ul li a{
	padding: 1.875em;
	padding-top: 7.733em;
	padding-bottom: 0;
	text-decoration: none;
	line-height: 4em;
	font-size: 1.875em;
	color: #fff;
}
/*This adds more function when cursor is hovered to navigations*/
.navigation  ul li:hover,
.navigation ul li a:hover
 {
	background-color: #D7937A;
	text-decoration: underline;
	color: #111;
	cursor: pointer;
	text-shadow: -0.1875em 0.1875em 0.3125em #393939;
}
.navigation ul li:hover{
	transform: translateY(0.3125em);
	transition: transform 0.6s ease;
	box-shadow: -0.25em -0.25em 0.25em #e9e9e9;
}
.navigation ul li#onlink{
	background: #0AF;
	color: #222;
}
.navigation ul li#onlink:hover, 
.navigation ul li#onlink a:hover{
	background: #D7D1AA;
}
section{
	width: 100%;
	background: #aaa;
}
footer{
	background: #1A3441;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
.social_media{
	width: 20%;
	padding: 3%;
	border-right: 0.1875em groove #684E2D;
}
/*THrough this section anyone can contact me in social medias like facebook, twitter, instagram, and so on*/
.media{
	margin-left: 6.25em;
	display: flex;
	flex-direction: column;
}
.media a{
	width: 3.75em;
}
.media img{
	width: 3.125em;
	height: 3.125em;
	padding-left: 1.25em;
}
/*Exapanding facebook logo when hovering over it*/
.media>#facebook:hover{
	transform: scale(1.5, 1.5);
	transition: transform 0.6s ease;
}
/*Rotating clockwise twitter logo when hovering over it*/
.media>#twitter:hover{
	transform: rotate(360deg);
	transition: transform 1.5s ease;
}
/*Rotating anti-clockwise linkedin logo when hovering over it*/
.media> #linkedin:hover{
	transform: rotate(-360deg);
	transition: transform 1.5s ease-in-out;
}
/*Bending intagram logo when hovering over it*/
.media> #instagram:hover{
	transform: skew(-30deg, 30deg);
	transition: transform 1s ease;
}
.news{
	width: 35%;
	border-right: 0.1875em groove #684E2D;
	padding: 1%;
	text-align: center;
}
.news h3{
	font-size: 1.5625em;
}
.news h5{
	text-align: right;
}
.news ul li{
	list-style: none;
	margin-bottom: 1%;
}
.news ul li a{
	text-decoration: none;
	color: #99979A;
	font-size: 1.25em;
}
.news ul li a:hover{
	font-size: 1.4375em;
	text-shadow: 0.3125em 0.3125em 0.3125em red;
	text-decoration: underline;
}
/*This locates mine current place*/
.map{
	width: 40%;
	padding: 1%;
}
.map p{
	color: #ED8C1F;
	padding: 1%;
	text-align: left;
}
.map iframe{
	width: 70%; 
	height:12.5em;
	margin-left: 20%;
	border: 0.125em solid #444AFF;
	box-shadow: -0.625em 0.3125em 0.3125em #111;
}
.copyright{
	text-align: center;
	background: #FEE9EB;
}
/*This is css for index.html*/
.me{
	text-align: center;
	width: 98%;
	text-align: center;
	padding: 1%;
	border-bottom: 0.1875em groove #ddd;
}
.me img{
	border-radius: 100%;
	width: 12.5em;
	height: 18.75em;
	padding:1%;
}
.me img:hover{
	animation: sunilt 2s linear;
}
@keyframes sunilt{
	0%{
		transform: rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}
.me p{
	width: 95%;
	margin: auto;
	text-align: center;
}
/*Linking is class that contains link to biography and cv*/
.linking{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
}
/*Biolink is class that links to bio.html*/
.biolink{
	width: 50%;
	display: inline-flex;
	flex-direction: row;
}
.biolink a:hover{
	transform: rotate(360deg);
	transition: transform 1s ease-in-out;
}
.biolink a img{
	width: 15.625em;
	height: 15.625em;
}
.biolink p{
	margin: auto 0;
	padding-left: 5%;
	text-align: center;
}
/*cvlink is class that links to cv.html*/
.cvlink{
	width: 50%;
	display: inline-flex;
	flex-direction: row;
	border-left: 0.1875em groove #bbb;
}
.cvlink a img{
	width: 15.625em;
	height: 15.625em;
}
.cvlink p{
	margin: auto 0;
	padding-left: 5%;
	text-align: center;
}
.cvlink a:hover{
	transform: rotate(360deg);
	transition: transform 1s ease-in-out;
}
/*This is css for cv.html*/

.section h3{
	font-size: 1.6em;
	color: #333;
}
.section h4{
	font-size: 1.4em;
	color: #444; 
}
.section p{
	font-size: 1.25em;
	padding: 1%;
}
.section1{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	width: 95%;
	margin-top: 2%;
}
.detail{
	width: 33%;
}
.detail img{
	border-radius: 100%;
	width: 12.5em;
	height: 18.75em;
}
/*This code helps to popup my image enlarging it*/
.click{
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.enlarge{
	position: fixed;
	transform: scale(3,3);
	transition: opacity 600ms;
	opacity: 0;
	background: rgba(0, 0, 0, 0.7);
	top:0;
	right: 0;
	left: -100%;
	bottom: 0; 
	visibility: hidden;
}
.enlarge:target{
	visibility: visible;
	top: 30%;
	left: 50%;
	opacity: 1;
}

.toggle1{
	position: relative;
	transition: all 5s ease;
}
.toggle1 .close{
	color: white;
	position: absolute;
	transition: all 200ms;
	top: 40%;
	left: 45%;
}
.toggle1 img{
	margin: 15% 0 0 25% ;
	overflow: auto;
	box-shadow: 0.4em 0.4em 0.8em #111; 
}/*Till here it acts for poping up*/
.education{
	width: 33%;
	margin: 5% auto;
}
.education li{
	list-style: square;
	font-size: 1.15em;
	padding: 0.6%;
}
.professional_experience{
	width: 30%;
	margin-top: 5%;
}
.section2{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2% 0 2% 0;
}
.skills{
	width: 45%;
}
.skills h3,
.skills li{
	width: 50%;
	margin: 0 auto;
}
.skills li{
	list-style: circle;	
	font-size: 1.15em;
	padding: 0.3%; 
}
.activity{
	width: 45%;
}
/*This is for contact*/
.section_contact{
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}
.me3{
	width: 25%;
	height: 25em;
	padding: 2% 5% 2% 0%;
}
.me3 img{
	border-radius: 10px;
}	
.me3 img:hover{
	cursor: pointer;
	animation: sunilthapa 1s linear;
}
@keyframes sunilthapa{
	0%{
		transform: scale(1,1);
		transition: transform ease;
	}
	25%{
		transform: scale(0,0);
		transition: transform ease;
		box-shadow: 0.3em 0.3em 0.3em #000;
	}
	50%{
		transform: scale(1.5,1.5);
		transition: transform ease;
		box-shadow: 0.8em 0.8em 0.8em #000;
	}
	100%{
		transform: scale(1,1);
		transition: transform ease;
	}
}
.form{
	margin: 0 auto;
	width: 50%;
}
.form p{
	color: #222;
	padding: 1%;
}
label{
	font-size: 1.5em;
	color: #A34;
}
input{
	width: 75%;
	height: 3em;
	border-radius: 0.8em;
	border-color: #FEE9EB;
	font-size: 1em;
	padding-left: 1em;
}
input:focus,
textarea:focus{
	background: #A5AAD7;
	border-color: #0AC986;
	color: #000; 
}
textarea{
	border-radius: 0.8em;
	padding: 1% 1%;
	width: 75%;
	margin: 2% 0;
	border: 0.2em groove #FEE9EB;
	height: 12.5em;
	font-size: 1em;
}
input[type="submit"]{
	width: 25%;
	height: 3.125em;
	background: #0AC986;
	font-size: 1em;
	color: white;
	outline: none;
	border-radius: 0.8em;
	border: 0;
	cursor: pointer; 
	padding: 1em 0.8em;
	margin-left: 25%;
	margin-bottom: 2em; 
}
#submit:hover{
	box-shadow:0.3125em 0.3125em 0.3125em #111;
	transform: translateY(-0.4em);
	transition: transform 0.6s ease;
	background: #fff;
	color: #0AC986;
}
