*{
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;

}
h1,h2,h3,h4,h5,h6{
	padding: 1%;
}
section img{
	width: 250px;
	height: 400px;
}
.top_bar{
	display: inline-flex;
	flex-direction: row;
	background: #AAA;
	width: 100%;
}
.logo{
	width: 50%;
	padding: 0;
}
.logo> img{
	width: 100px;
	height: 150px;
	padding-left: 20%;
}
.navigation{
	width: 47%;
}
.navigation ul{
	display: flex;
	flex-direction: row-reverse;
}
.navigation ul li{
	list-style: none;
	height: 150px;
}
.navigation ul li a{
	padding: 30px;
	padding-top: 116px;
	padding-bottom: 0;
	text-decoration: none;
	line-height: 4em;
	font-size: 30px;
	color: #007F7F;
}
.navigation  ul li:hover,
.navigation ul li a:hover
 {
	background-color: #FEE9EB;
	text-decoration: underline;
	color: #111;
}
footer{
	background: #7C97A2;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.social_media{
	width: 50%;
	padding: 3%;
}
.media{
	margin-left: 100px;
	display: flex;
	flex-direction: column;
}
.media a{
	width: 60px;
}
.media img{
	width: 50px;
	height: 50px;
	padding-left: 20px;
}
.media> #twitter{
	padding-left: 50px;
}
.media> #linkedin{
	padding-left: 100px;
}
.media> #instagram{
	padding-left: 150px;
}
.map{
	width: 40%;
	padding: 1%;
}
.map iframe{
	width: 400px; 
	height:300px;
	border: 2px solid #444AFF;
	border-radius: 10px; 
}